@font-face {
	font-family: 'gsm';
	src: url( '../fonts/GillSansW01Medium.woff2' ) format( 'woff2' );
}

@font-face {
	font-family: 'tmb';
	src: url( '../fonts/TimesModern-Bold.woff' ) format( 'woff' );
}

@font-face {
	font-family: 'tmr';
	src: url( '../fonts/TimesDigital-Regular.woff' ) format( 'woff' );
}
