.entry-content {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto !important;
}

.wp-block-columns {
	align-items: flex-end;

	.wp-block-column {
		&:not(:first-child) {
			margin-left: 20px;
		}
	}
}