.wp-block[data-type="newsuk/title"] {
	margin-top: 0;
	margin-bottom: 0;

	input {
		@include reset-input;
	}
}

.wp-block[data-type="newsuk/title"] .wp-block-newsuk-title,
.wp-block-newsuk-title {
	@include font-primary;
	font-size: 3rem;
	text-align: center;
	width: 100%;
	line-height: 1.8;
	margin: 20px 0;
}
