@font-face {
	font-family: 'gsm';
	src: url( '../../assets/fonts/GillSansW01Medium.woff2' ) format( 'woff2' );
}

@font-face {
	font-family: 'tmb';
	src: url( '../../assets/fonts/TimesModern-Bold.woff' ) format( 'woff' );
}

@font-face {
	font-family: 'tmr';
	src: url( '../../assets/fonts/TimesDigital-Regular.woff' ) format( 'woff' );
}

body {
	background-color: #F9F9F9 !important;
}

// .alignfull {
// 	margin-left: calc( -100vw / 2 + 100% / 2 );
// 	margin-right: calc( -100vw / 2 + 100% / 2 );
// 	max-width: 100vw;
// }