@font-face {
	font-family: 'gsm';
	src: url( '../../assets/fonts/GillSansW01Medium.woff2' ) format( 'woff2' );
}

body {
	background-color: #F9F9F9 !important;
}

.entry-content,
.wp-block[data-align=wide] {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto !important;
}

.alignfull {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;
}