/**
 * block container
 */
 .wp-block[data-type="newsuk/subscription-card"] {
	margin-top: 0;
	margin-bottom: 0;
}

/**
 * common styles
 */
.wp-block-newsuk-subscription-card,
.wp-block-newsuk-subscription-card--editor {
	display: flex;
	flex-flow: row wrap;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	min-height: 140px;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #fff;

	.newsuk-sc {
		&__image-wrapper {
			position: relative;
			width: 98px;
			height: 98px;

			img {
				object-fit: cover;
				height: 98px;
				border-radius: 50%;
			}

			&:hover {
				.newsuk-sc__image-controls {
					display: flex;
				}
			}
		}

		&__image-controls {
			display: none;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			backdrop-filter: blur( 0px );
			border-radius: 50%;

			&:hover {
				backdrop-filter: blur( 10px );
			}
		}

		&__control-button {
			cursor: pointer;
		}

		&__image-placeholder {
			display: flex;
			background-color: #ccc;
			height: 100%;
			border-radius: 100%;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}

		&__meta {
			flex-grow: 1;
			flex-basis: 0;
			margin-left: 20px;
		}

		&__title {
			font-family: tmb;
			font-size: 24px;
			margin-bottom: 10px;
			line-height: 26.4px;
		}

		&__description {
			font-family: tmr;
			font-size: 18px;
			line-height: 25.2px;
		}
	}
}

/**
 * back end
 */
.wp-block-newsuk-subscription-card--editor {
}

/**
 * front end
 */
.wp-block-newsuk-subscription-card {
}
