.wp-block-nuk-row,
.wp-block-nuk-row--editor {
	padding: 4rem 1.25rem;

	.nuk-row {
		&__wrapper {
			width: 100%;
			max-width: 1180px;
			margin: 0 auto;
		}
	}
}

.wp-block-nuk-row {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;
}