/**
 * block container
 */
.wp-block[data-type="newsuk/row"] {
	margin-top: 0;
	margin-bottom: 0;
}

/**
 * Common styles
 */
.wp-block-newsuk-row,
.wp-block-newsuk-row--editor {
	overflow: hidden;
	padding-top: 40px;
}

/**
 * editor
 */
.wp-block-newsuk-row--editor {
	padding-left: 58px;
	padding-right: 58px;
}

/**
 * front end
 */
.wp-block-newsuk-row {

}
